
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="content-type" content="text/html; charset=gb2312" />

<title>显示/隐藏菜单 - Powered By Nianway.com</title>

<meta name="Author" content="Nianway.com" />

<meta name="Copyright" content="Nianway.com" />

<link href="template/base.css" rel="stylesheet" type="text/css" />

<link href="template/admin.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="template/jquery.js"></script>

<script type="text/javascript" src="template/base.js"></script>

<script type="text/javascript" src="template/admin.js"></script>



<style type="text/css">

<!--

html, body {

	height: 100%;

	overflow:hidden;

}

-->

</style>

</head>

<body class="middle">

	<div id="main" class="main leftArrow"></div>

</body>

</html>