
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=gb2312" />
<title>编辑歌曲 - Powered By Nianway.com</title>
<meta name="Author" content="Nianway.com" />
<meta name="Copyright" content="Nianway.com" />
<link href="template/base.css" rel="stylesheet" type="text/css" />
<link href="template/admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="template/js/jquery.js"></script>
<script type="text/javascript" src="template/js/jquery.validate.js"></script>
<script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>
</head>

<body class="input">
	<div class="bar">
		编辑歌曲
	</div>
	<div id="validateErrorContainer" class="validateErrorContainer">
		<div class="validateErrorTitle">以下信息填写有误,请重新填写</div>
		<ul></ul>
	</div>

	<div class="body">
		<form id="validateForm" action="article.htm" method="post">
			<input type="hidden" name="act" value="edit"/>
			<input type="hidden" name="articleId" value="$article.articleId"/>
			<table class="inputTable">
				<tr>
					<th>
						歌曲名称: 
					</th>
					<td>
						<input type="text" name="articleName" class="formText" value="$article.articleName" />
						<label class="requireField">*</label>
					</td>
				</tr>
				<tr>
					<th>
						歌曲文件: 
					</th>
					<td>
						$article.articleUrl
					</td>
				</tr>
				<tr>
					<th>
						歌曲类别: 
					</th>
					<td>
						<select name="categoryId">
							<option selected="true" value="0">男歌手</option>
						</select>
						<label class="requireField">*</label>
					</td>
				</tr>
				<tr>
					<th>
						歌曲介绍: 
					</th>
					<td>
						<textarea class="ckeditor" cols="80" id="articleIntroduce" name="articleIntroduce" rows="10">$article.articleIntroduce</textarea>
					</td>
				</tr>
			</table>
			<div class="buttonArea">
				<input type="submit" class="formButton" value="确  定" hidefocus />&nbsp;&nbsp;
				<input type="button" class="formButton" onclick="window.history.back(); return false;" value="返  回" hidefocus />
			</div>
		</form>
	</div>
</body>
</html>